@using OpenPoker.Controllers
@model IEnumerable<GameRoom>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Game rooms</h2>
<table>
    <thead>
        <tr><th>Name</th><th>Game Cycle</th></tr>
    </thead>
    <tbody>
        @foreach (GameRoom room in Model)
        {
            <tr>
                <td>@Html.ActionLink(room.name, "Index", "Room",new { roomId = room.id} )</td> <td>@room.game.curCycle</td>
            </tr>
        }
    </tbody>
</table>
