@using OpenPoker.Controllers
@using OpenPoker.GameEngine
@model RoomsList
@{
    ViewData["Title"] = "Home Page";
}


    <div id="playButton">
        <button type="button" class="btn btn-primary" 
                onclick="location.href='@Url.Action("Play", "Home")'" 
                >Play Poker</button>
    </div>