
@{
    ViewData["Title"] = "Index";
}
@using OpenPoker.Logging
@model string


@if (Model == null)
{
    <h1>@("There's no replay of this game.")</h1>
    <h4>Sorry</h4>
}

<div class="card" id="table" hidden="hidden">
    <div class="card-body">
        <p id="endResult"></p>
        @for (int i = 1; i <= 6; i++)
        {
            <div class="player" id=@("player" + i.ToString()) hidden="hidden">
                <p style="text-align:center" id="name">Player @i</p>
                <img src="~/cards/back.png" id="card" />
                <img src="~/cards/back.png" id="card" />
                <p style="text-align:center" id="bet">0</p>
            </div>

        }
        <div class="player" id="deck">
            <img src="~/cards/back.png" id="card" />
            <img src="~/cards/back.png" id="card" />
            <img src="~/cards/back.png" id="card" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var text = '@Html.Raw(Model)';
    </script>
    <script src="~/js/ReplayScript.js"></script>
}
