@using ConsolePoker

@model GameRoom
<table>
    <thead>
        <tr><th>Card</th></tr>
    </thead>
    <tbody>
        @foreach (Card c in Model.game.cards)
        {

            <tr>
                <td>@c.ToString()</td>
            </tr>
        }

    </tbody>
</table>
