@page
    <div class="card" id="table" hidden="hidden">
        <div class="card-body">
            <p id="endResult"></p>
            @for (int i = 1; i <= 6; i++)
            {
                <div class="player" id=@("player" + i.ToString())  hidden="hidden">
                    <p style="text-align:center" id="name">Player @i</p>
                    <img src="~/cards/back.png" id="card" />
                    <img src="~/cards/back.png" id="card" />
                    <p style="text-align:center" id="bet">0</p>
                </div>
            }
            <div class="player" id="deck">
                <img src="~/cards/back.png" id="card" />
                <img src="~/cards/back.png" id="card" />
                <img src="~/cards/back.png" id="card" />
            </div>
        </div>
        <div id="menu" hidden="hidden">
            <text id="betText">100</text>
            <input type="range" min="100" max="1000" step="100" value="100" onchange="updateText(this.value);" id="betRange" />
            <button id="confirmBtn" onclick="MakeBet();">Send</button>
            <button onclick="Fold();">Fold</button>
        </div>
    </div>
@section Scripts {
    <script src="~/js/RoomScript.js"></script>
}